.hw-dropzone {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  justify-content: center;
  border: 2px dashed transparent;
  border-radius: 16px;
  background-color: #f1f2f2;
}

.hw-dropzone h2 {
  font-weight: bold;
  color: rgb(var(--color-primary));
}

.hw-dropzone p {
  margin: 8px 0;
  text-align: center;
}

.hw-dropzone a {
  color: initial;
  text-decoration: underline;
}

.hw-dropzone p:last-of-type {
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

.hw-dropzone--border {
  border-color: #8dc74e;
}

.hw-dropzone--warn {
  background-color: #e5503950;
  border-color: #e55039;
}

.hw-dropzone--accept {
  background-color: #8dc74e33;
  border-color: #8dc74e;
}

.hw-dropzone--warn p:last-of-type {
  color: #e55039;
}